@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

/* CSS RESETS */
* {
  box-sizing: border-box !important;
  min-width: 0;
}
body {
  font-family: "Marcellus SC", serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}
img {
  max-width: 100%;
}
/* CSS RESETS */
/* GENERAL STYLES */
.edit-span {
  background-color: #ffffff;
}
.dim-gray {
  color: #707070;
}
.active-green {
  background-color: #0c5b45 !important;
}
.davys-grey {
  color: #4e4e4e;
}
.dark-grey-custom {
  color: #222222;
}
.medium-grey {
  color: #909090;
}
.white-bg-80 {
  background-color: #ffffffcc;
}
.dark-green {
  background-color: #0c5b45;
}
.medium-aquamarine {
  background-color: #35b69740;
}
.cyan-green {
  background-color: #33bd99;
}
.light-mint-green {
  background-color: #c4e8e0cc;
}
.textarea-inputs-bg {
  background-color: #35b69740;
}
.soft-mint-cream {
  background-color: #dceee0cc;
}
/* GENERAL STYLES */
/* MAIN */
.bg-image {
  background: url("/images/greenBG.png") center / cover no-repeat;
  height: 100vh;
}
.content {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}
.right-arrow,
.left-arrow {
  width: 16px;
  height: 16px;
}
.survey-inputs {
  background-color: #35b69740;
}
input {
  z-index: 1;
}
input:focus {
  outline: none;
}
/* MAIN */
/* QUESTIONS */
.created-questions {
  max-height: 170px;
  overflow-y: auto;
}
.table-td-border-bottom {
  border-bottom: 1px solid #9f9e9e !important;
}
.answers-report-btn {
  top: 50px;
}
/* QUESTIONS */
